{% extends 'sidebar.html' %}

{% load static %}

{% block main_content %}

    <div class="main-content-outer">
        <div class="main-content-inner main-content-inner--space">
            <section class="pdb50">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pdt50">
                                <h2 class="page-title mb20">Change Password</h2>
                            </div>
                            <form class="setting-page-form" method="post">{% csrf_token %}

                                <div class="form-group form-group--border-bottom">
                                    <b class="text-danger">{{ form.old_password.errors }}</b>
                                    <label for="current_password" class="input-group__label">Current Password <span
                                            class="sc-color">*</span> </label>
                                    <input id="current_password" type="password" name="old_password"
                                           class="input-group__input form-control"/>
                                    {% if form.old_password.help_text %}
                                        <div class="help">{{ form.old_password.help_text|safe }}</div>
                                    {% endif %}
                                </div>

                                <div class="form-group form-group--border-bottom">
                                    <b class="text-danger">{{ form.new_password1.errors }}</b>
                                    <label for="new_password1" class="input-group__label">New Password <span
                                            class="sc-color">*</span> </label>
                                    <input id="new_password1" type="password" name="new_password1"
                                           class="input-group__input form-control"/>
                                    {% if form.new_password1.help_text %}
                                        <div class="help">{{ form.new_password1.help_text|safe }}</div>
                                    {% endif %}
                                </div>

                                <div class="form-group form-group--border-bottom">
                                    <b class="text-danger">{{ form.new_password2.errors }}</b>
                                    <label for="new_password2" class="input-group__label">Confirm Password <span
                                            class="sc-color">*</span> </label>
                                    <input id="new_password2" type="password" name="new_password2"
                                           class="input-group__input form-control"/>
                                    {% if form.new_password2.help_text %}
                                        <div class="help">{{ form.new_password2.help_text|safe }}</div>
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="btn"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}