{% extends 'sidebar.html' %}

{% load static %}

{% block main_content %}

    <div class="main-content-outer">
        <div class="main-content-inner main-content-inner--space">
            <section class="pdb50">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pdt50">
                                <h2 class="page-title mb20">Your Password Changed Successfully</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}