{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="">
            <h2 class="page-title mb25 text-center">Sundarban Courier Service (Pvt.) Ltd</h2>
        </div>
    </div>

    {#    <div class="main-content-outer">#}
    {#        <div class="main-content-inner main-content-inner--space">#}
    {#            <section class="pdb50">#}
    {##}
    {#                <form class="search-form" action="#">#}
    {#                    <div class="dis-flex-md align-center">#}
    {#                        <i class="search-form__icon ion-ios-search large-text pdr25"></i>#}
    {#                        <div class="input-group input-group--no-border">#}
    {#                            <input type="text" class="input-group__input"#}
    {#                                   placeholder="Search with email, name or phone"/>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <!-- Modal -->#}
    {#                </form>#}
    {#                <div class="modal fade add-lead-modal" id="add-lead-modal" tabindex="-1" role="dialog"#}
    {#                     aria-labelledby="add-lead-modalLabel">#}
    {#                    <div class="modal-dialog" role="document">#}
    {#                        <div class="modal-content">#}
    {#                            <div class="modal-header">#}
    {#                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
    {#                                        aria-hidden="true">&times;</span></button>#}
    {#                                <h4 class="modal-title large-text" id="add-lead-modalLabel">Add a New Lead</h4>#}
    {#                            </div>#}
    {#                            <div class="modal-body">#}
    {#                                <form class="edit-leads-info white-bg no-padding no-border">#}
    {#                                    <div class="row">#}
    {#                                        <div class="col-xs-6 col-xxs-12 pdr5">#}
    {#                                            <div class="input-group input-group--border-bottom">#}
    {#                                                <label class="input-group__label">First Name</label>#}
    {#                                                <input type="text" class="input-group__input" value="Richard"/>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                        <div class="col-xs-6 col-xxs-12 pdrl">#}
    {#                                            <div class="input-group input-group--border-bottom">#}
    {#                                                <label class="input-group__label">Last Name</label>#}
    {#                                                <input type="text" class="input-group__input" value="Thompson"/>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="row">#}
    {#                                        <div class="col-xs-6 col-xxs-12 pdr5">#}
    {#                                            <div class="input-group input-group--border-bottom">#}
    {#                                                <label class="input-group__label">Mobile Number</label>#}
    {#                                                <input type="text" class="input-group__input"#}
    {#                                                       value="+62 812 5012 5285"/>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                        <div class="col-xs-6 col-xxs-12 pdl5">#}
    {#                                            <div class="input-group input-group--border-bottom">#}
    {#                                                <label class="input-group__label">Email</label>#}
    {#                                                <input type="email" class="input-group__input"#}
    {#                                                       value="r.thompson@gmail.com"/>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="row">#}
    {#                                        <div class="col-xs-6 col-xxs-12 pdr5">#}
    {#                                            <div class="input-group input-group--border-bottom">#}
    {#                                                <label class="input-group__label">Assigned To*</label>#}
    {#                                                <div class="input-group__select-wrap">#}
    {#                                                    <select class="selectpicker dashborad-select-box">#}
    {#                                                        <option>Regional Manager</option>#}
    {#                                                        <option>Regional Director</option>#}
    {#                                                    </select>#}
    {#                                                </div>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                        <div class="col-xs-6 col-xxs-12 pdl5">#}
    {#                                            <div class="input-group input-group--border-bottom">#}
    {#                                                <label class="input-group__label">Lead Status</label>#}
    {#                                                <div class="input-group__select-wrap">#}
    {#                                                    <select class="selectpicker dashborad-select-box">#}
    {#                                                        <option>New</option>#}
    {#                                                        <option>Old</option>#}
    {#                                                    </select>#}
    {#                                                </div>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="text-right pdt30">#}
    {#                                        <input type="reset" value="Discard" class="btn btn--border mr5"/>#}
    {#                                        <input type="submit" value="Save" class="btn"/>#}
    {#                                    </div>#}
    {#                                </form><!--/.edit-leads-info-->#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div><!--/.modal-->#}
    {#                <div class="leads-list-search-filter pdt40 mb20">#}
    {#                    <div class="actions-buttons-wrap dis-inblock pdr15">#}
    {#                        <span class="pdr20">2 data are selected</span>#}
    {#                        <button class="icon-circle icon-circle--large">#}
    {#                            <i class="ion-ios-trash-outline"></i>#}
    {#                        </button>#}
    {#                        <button class="icon-circle icon-circle--large">#}
    {#                            <i class="ion-edit"></i>#}
    {#                        </button>#}
    {#                        <button class="icon-circle icon-circle--large">#}
    {#                            <i class="ion-ios-person-outline"></i>#}
    {#                        </button>#}
    {#                        <button class="icon-circle icon-circle--large">#}
    {#                            <i class="ion-share"></i>#}
    {#                        </button>#}
    {#                    </div>#}
    {#                    <div class="leader-list-filter-actions dis-inblock pdl15">#}
    {#                        <select class="selectpicker dashborad-select-box" id="leads-filter-select">#}
    {#                            <optgroup label="MENU">#}
    {#                                <option value="1">All Leads</option>#}
    {#                                <option value="2">Today's Leads</option>#}
    {#                                <option value="3">All Green Leads</option>#}
    {#                                <option value="4">All Yellow Leads</option>#}
    {#                                <option value="5">All Red Leads</option>#}
    {#                                <option value="6">Leads wating to be approved to client</option>#}
    {#                                <option value="7">All Red Leads</option>#}
    {#                            </optgroup>#}
    {#                            <optgroup label="Custom Filter">#}
    {#                                <option value="create-new-filter">Create New Filter</option>#}
    {#                                <option value="9">Lead's Who haved aged more than 40 years old</option>#}
    {#                                <option value="10">Green Category</option>#}
    {#                            </optgroup>#}
    {#                        </select>#}
    {#                        <select class="selectpicker dashborad-select-box">#}
    {#                            <option selected>By Advisor</option>#}
    {#                            <option>By Age</option>#}
    {#                            <option>By Name</option>#}
    {#                        </select>#}
    {#                    </div>#}
    {#                    <div class="actions-buttons-wrap dis-inblock pull-right no-border">#}
    {#                        <span class="pdr20">1 of 1</span>#}
    {#                        <button class="icon-circle icon-circle--large">#}
    {#                            <i class="fa fa-angle-left"></i>#}
    {#                        </button>#}
    {#                        <button class="icon-circle icon-circle--large">#}
    {#                            <i class="fa fa-angle-right"></i>#}
    {#                        </button>#}
    {#                    </div>#}
    {#                </div>#}


    <div class="container-fluid">
        <div class="col-md-4">
        <h2 class="text-center">Long Routes</h2>
            <div class="table-responsive">
                <table class="table tripdrive-table">
                    <thead>
                    <tr>
                        <th>Date &uarr;&darr;</th>
                        <th>Vehicle</th>
                        <th>Driver</th>
                        <th>Destination</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for trip in long_trips %}
                            <tr>
                                <td>{{ trip.date }}</td>
                                <td><i class="fa fa-circle light-green small-text pdr10"></i>{{ trip.vehicle }}</td>
                                <td>{{ trip.vehicle.driver }}</td>
                                <td>{{ trip.destination }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid">
        <div class="col-md-4">
        <h2 class="text-center">Medium Routes</h2>
            <div class="table-responsive">
                <table class="table tripdrive-table">
                    <thead>
                    <tr>
                        <th>Date &uarr;&darr;</th>
                        <th>Vehicle</th>
                        <th>Driver</th>
                        <th>Destination</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for trip in medium_trips %}
                            <tr>
                                <td>{{ trip.date }}</td>
                                <td><i class="fa fa-circle light-green small-text pdr10"></i>{{ trip.vehicle }}</td>
                                <td>{{ trip.vehicle.driver }}</td>
                                <td>{{ trip.destination }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-md-4">
        <h2 class="text-center">Short Routes</h2>
            <div class="table-responsive">
                <table class="table tripdrive-table">
                    <thead>
                    <tr>
                        <th>Date &uarr;&darr;</th>
                        <th>Vehicle</th>
                        <th>Driver</th>
                        <th>Destination</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for trip in short_trips %}
                            <tr>
                                <td>{{ trip.date }}</td>
                                <td><i class="fa fa-circle light-green small-text pdr10"></i>{{ trip.vehicle }}</td>
                                <td>{{ trip.vehicle.driver }}</td>
                                <td>{{ trip.destination }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% block javascript %}
        <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.20.2.js"></script>

        <script>(function () {
            var pubnub = new PubNub({subscribeKey: '{{ subscribe_key }}'});
            pubnub.addListener({
                message: function (obj) {
                    location.reload();
                    console.log('signal received')
                }
            });
            pubnub.subscribe({channels: ['update_board']});
        })();</script>
    {% endblock %}
{% endblock %}
