{% extends 'sidebar.html' %}


{% load static %}


{% block main_content %}


    <div class="main-content-outer">
        <div class="main-content-inner main-content-inner--space">
            <section class="pdb50">


                <div class="pdt50">
                    <h2 class="page-title mb20">Vehicles In Dhaka</h2>
                </div>
                 <form class="search-form" method="get">
                    <div class="dis-flex-md align-center">
                        <i class="search-form__icon ion-ios-search large-text pdr25"></i>
                        <div class="input-group input-group--no-border">
                            <input name='q' type="text" class="input-group__input"
                                   placeholder="Search Vehicle or Driver" value="{{ request.GET.q }}" />
                        </div>
{#                        <a href="#" class="btn btn--with-icon btn--medium ml-auto"><i#}
{#                                class="ion-android-add pdr10 btn__icon"></i>Add Trip </a>#}
                    </div>
{#                </form>#}
                <div class="pull-right no-border">
                    <div class="leader-list-filter-actions dis-inblock pdl15">
                        <select name="type" class="selectpicker dashborad-select-box">
                            <option value="">All Types</option>
                            {% for k, v in VEHICLE_TYPES.items %}
                                <option value="{{ k }}" {% if request.GET.type == k|stringformat:'s' %}selected{% endif %}>{{ v }}</option>
                            {% endfor %}
                        </select>
                        <select name="condition" class="selectpicker dashborad-select-box">
                            <option value="">All Conditions</option>
                            {% for k, v in VEHICLE_CONDITIONS.items %}
                                <option value="{{ k }}" {% if request.GET.condition == k|stringformat:'s' %}selected{% endif %}>{{ v }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn--with-icon btn--small ml-auto">
                        <i>Filter</i>
                    </button>
                </div>
                 </form>
{#                <div class="actions-buttons-wrap dis-inblock pull-right no-border">#}
{#                    <span class="pdr20">1 of 1</span>#}
{#                    <button class="icon-circle icon-circle--large">#}
{#                        <i class="fa fa-angle-left"></i>#}
{#                    </button>#}
{#                    <button class="icon-circle icon-circle--large">#}
{#                        <i class="fa fa-angle-right"></i>#}
{#                    </button>#}
{#                </div>#}
            </section>
        </div>

        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table vehicles-dhaka-table">
                    <thead>
                    <tr>
                        {#                                <th>#}
                        {#                                    <div class="checkbox-item">#}
                        {#                                        <input class="checkbox-item__input" type="checkbox" id="checkbox-all"/>#}
                        {#                                        <label class="checkbox-item__label" for="checkbox-all"></label>#}
                        {#                                    </div>#}
                        {#                                </th>#}
                        <th>Type</th>
                        <th>Vehicle</th>
                        <th>Driver</th>
                        <th>Condition</th>
                        <th>Change Condition And Set Trip</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vehicle in vehicles %}
                        <form method="post">{% csrf_token %}

                            <tr>
                                <td>{{ vehicle.get_type }}</td>
                                <td><i class="fa fa-circle light-green small-text pdr10"></i>{{ vehicle.number }}</td>
                                <td>{{ vehicle.driver.name }}</td>
                                <td>{{ vehicle.get_condition }}</td>
                                <td>
                                    <button type="button"  data-toggle="modal" data-target="#mod{{ vehicle.id }}"
                                            class="btn btn--with-icon btn--small ml-auto">OK
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="mod{{ vehicle.id }}" tabindex="-1" role="dialog">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Confirmation</h4>
                                          </div>
                                          <div class="modal-body">
                                            Are you Sure?
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn--with-icon btn--small btn--danger" data-dismiss="modal">NO</button>
                                              <button type="submit" name="ok" value="{{ vehicle.id }}"
                                                      class="btn btn--with-icon btn--small btn--success">YES
                                              </button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                <!-- Modal End -->
                                </td>
                            </tr>
                        </form>
                    {% endfor %}

                    </tbody>

                </table>
            </div>

            {% if vehicles.has_other_pages %}
                <ul class="pagination">
                    {% if vehicles.has_previous %}
                        <li><a href="?page={{ vehicles.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in vehicles.paginator.page_range %}
                        {% if vehicles.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if vehicles.has_next %}
                        <li><a href="?page={{ vehicles.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}


        </div>
        </section>
    </div>
    </div>
{% endblock %}
